@import '_theme.scss';

.product-instance-properties {
  .section {
    border: 1px solid var(--color-line);
    border-left: 2px solid var(--text-color-medium);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;

    &.section-open {
      border-left: 2px solid var(--color-highlight);

      .section-content {
        padding-top: 15px;
        max-height: var(--openSection);
      }

    }

    &:nth-child(2) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:not(:nth-child(2)) {
      margin-top: 30px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    & .hidden {
      display: none;
    }
  }
  .section:not(.section-open) {

    .section-header {
      color: var(--text-color-ultra-dark);

      .section-title {
        margin-right: 20px;
      }
    }
  }
  .section-header {
    cursor: pointer;
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    min-width: 100%;
  }
  .section-header > svg {
    margin-left: 20px;
    flex-shrink: 0;
  }
  .section-open .section-header {
    color: var(--color-highlight);
  }

  .section-title {
    align-items: center;
    display: flex;
    font-size: var(--text-size-label);

    .section-title-text {
      margin-left: 14px;
      @media (max-width: $md) {
        margin-left: 14px;
      }
    }
  }

  .section-tick-icon {
    background: var(--color-success);
    border-radius: 50%;
    padding: 5px;

    path {
      fill: white
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    transition: max-height .3s, padding-top 0.3s;
    overflow: hidden;
    max-height: 0;
 }

  .section-error-msg {
    color: var(--color-error);
    padding-top: 4px;
  }
  .section-description {
    margin: 25px 0 15px;
    font-size: var(--text-size-regular);
    color: var(--text-color-dark);
  }
}
.accordionWrapper{
  border: 1px solid var(--color-line);
  border-radius: var(--form-input-border-radius);
  cursor:pointer;

.galeryListAccordion{
  display: flex;
        justify-content: flex-start;
        text-align: left;
        align-items: center;
        padding: 11px;
        border: 2px solid transparent;
        width: 100%;
        background: transparent;
        position: relative;
      
        .content{
          display:flex;
          flex-direction: column;

          .name{
            -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--spls-black);
    display: -webkit-box;
    font-family: var(--spls-option-font-family) !important;
    font-size: var(--spls-option-font-size) !important;
    overflow: hidden;
    text-overflow: ellipsis;
          }
          .description{
            -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--spls-black);
    display: -webkit-box;
    font-family: var(--spls-opt-subtext-fam) !important;
    font-size: var(--spls-opt-subtext-size) !important;
    overflow: hidden;
    text-overflow: ellipsis;
          }
        }
        .imageRadio {
          width: 50px;
          min-width: 50px;
          margin-right: 15px;
          height: 50px;
        }
        &:focus {
          border-radius: 0 !important;
        }
        &:hover {
          background: var(--color-fill);
        }
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-line);
        }
        &:first-child {
          border-radius: var(--form-input-border-radius) var(--form-input-border-radius) 0 0;
        }

        &:last-child {
          border-radius: 0 0 var(--form-input-border-radius) var(--form-input-border-radius);
        }
        
      }
      .selected{
        border: var(--spls-option-selected-border-weight) solid var(--spls-option-selected-border) !important;
    }
}

.subtitleLayout{
  display:flex;
  flex-direction: row;
  gap:15px;

  .subTitleContent{
    margin:auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--spls-black);
    display: -webkit-box;
    font-family: var(--spls-opt-subtext-fam) !important;
    font-size: var(--spls-opt-subtext-size) !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
