@import '_theme.scss';

.promotion-item {
  height: var(--carousel-height-desktop);
  border-radius: var(--spls-promoimg-radius); // SPLS added radius

  .promotion-image{
    height: var(--carousel-height-desktop);
    width: 100%;
    object-fit: cover;
  }

  .main{
    height: var(--carousel-height-desktop);
    display: flex;
    justify-content: left;
    position: relative;
    top: calc(-1 * var(--carousel-height-desktop));
  }

  // & * {
  //  align-self: center;
  // }

  .text{
    color: var(--text-color-carousel);
  }

  .button {
    margin: 20px;
    max-width: 600px;
    min-width: 200px;
  }

  .title-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; // SPLS change from center to left
    padding: 30px; // SPLS updated padding
    max-width: 50%; // SPLS added max width
  }

  .title{
    // SPLS updated or added vars
    font-size: var(--spls-product-font-size);
    font-weight: var(--spls-product-font-weight);
    line-height: var(--spls-product-line-height);
    font-family: var(--spls-product-font-family);
  }

  .subtitle{
    // SPLS updated or added vars    
    font-size: var(--spls-form-label-font-size);
    font-weight: var(--spls-form-label-font-weight);
    line-height: var(--spls-form-label-line-height);
  }

  @media (max-width: $lg) {
    height: var(--carousel-height-mobile);

    .title{
      font-size: calc(1 * var(--spls-product-font-size)); // SPLS changed var
      line-height: calc(var(--spls-product-line-height)*.8)
    }

    .subtitle{
      font-size: calc(1 * var(--spls-form-label-font-size)); // SPLS changed var
      margin-top: 10px;
    }

    .promotion-image {
      height: var(--carousel-height-mobile);
    }

    .main {
      height: var(--carousel-height-mobile);
      top: calc(-1 * var(--carousel-height-mobile));
    }
  }
}

